.profile-card {
    margin-top: 20px;
}

.profile-card img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-card .profile-header {
    text-align: center;
}

.profile-card .profile-info {
    margin-top: 20px;
}

input[type="select"] {
    border: 0.1px solid black !important;
}

input[type="submit"] {
    border: 0px !important;
}
