.delb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 15%;
}

.col-4{
    max-width: max-content;
}

button[name="confirm_delete"][value="no"] {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}

button[name="confirm_delete"][value="no"]:hover {
  background-color: #b53d39;
}

button[name="confirm_reject"][value="no"] {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
  }
  
  button[name="confirm_reject"][value="no"]:hover {
    background-color: #b53d39;
  }