/* .profile-card {
    margin-top: 20px;
}

.profile-card img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-card .profile-header {
    text-align: center;
}

.profile-card .profile-info {
    margin-top: 20px;
} */

@media (min-width: 768px) {
    .col-md-9 {
        max-width: 70%;
    }
}

@media (min-width: 768px) {
    .col-md-3 {
        min-width: 30%;
    }
}