
.activity-list, .timeline {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.activity-list li {
    border-bottom: 1px solid #ddd !important;
    padding: 15px 0 !important;
}

.activity-list li h4 {
    font-size: 18px !important;
    margin-bottom: 5px !important;
    color: #333 !important;
}

.activity-list li p {
    margin: 5px 0 !important;
    color: #555 !important;
}

.activity-list li p strong {
    color: #000 !important;
}

.timeline {
    position: relative !important;
    padding: 20px 0 !important;
}

.timeline::before {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 30px !important;
    width: 2px !important;
    background: #ddd !important;
}

.timeline-item {
    position: relative !important;
    margin-bottom: 30px !important;
    padding-left: 60px !important;
}

.timeline-date {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #777 !important;
    background: #f0f0f0 !important;
    padding: 5px 10px !important;
    border-radius: 5px !important;
}

.timeline-content {
    background: #f9f9f9 !important;
    padding: 10px 15px !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
    margin-left: 40px !important;
}

.timeline-content h4 {
    font-size: 16px !important;
    margin-bottom: 5px !important;
    color: #333 !important;
}

.timeline-content p {
    margin: 0 !important;
    color: #555 !important;
}

.timeline-content p strong {
    color: #000 !important;
}



.event-link{
    border: 0px !important;
    background: none !important;
    text-align: left !important;
}